.card_Breed{
  display: inline-block;
  position: relative;
  width: 349px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.breed_image{
  border-radius: 5px 5px 0px 0px;
  background-color: var(--secondary);
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 55%;
}

.breed_image_horizontal{
  width: 349px;
  height: 250px;
}

.breed_image_vertical{
  width: 349px;
  height: 390px;
}

.breed_description{
  margin-top: -8px;
  padding-block-start: 8px;
  padding-block-end: 8px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  background-color: var(--secondary);
  border-radius: 0px 0px 5px 5px;
}

.breed_description h3{
  margin: 0;
  font: var(--headline3);
}

.breed_desciption-qualities{
  text-align: center;
}

@media screen and (min-width: 540px){
  .card_Breed{
    width: 460px;
  }

}