.title{
  display: none;
}

.menu{
  background-color: var(--primary);
  height: 45px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.menu ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
  padding-top: 12px;
}

.menu ul a{
  text-decoration: none;
  color: var(--brown);
}

.menu-active{
  color: var(--secondary);
}

.menu ul figure{
  margin: 0;
}

@media screen and (min-width: 540px){
  .hero-image{
    -webkit-filter: drop-shadow(0 0 1px #222);
    filter: drop-shadow(0 0 1px #222);
    max-width: 32px;
    margin-top: 3px;
  }

  .title{
    display: inline;
    margin-left: 8px;
  }

  .title h1{
    display: none;
  }

  .menu{
    justify-content: space-between;
    display: flex;
    top: 0;
  }

  .menu ul{
    padding-inline-start: unset;
    min-width: 90%;
  }
}