:root{
    /*------ Colors ------*/
    --black: #060609;
    --withe: #F2F2F2;
    --gray: #C4C4C4;
    --brown: #620F0C;
    --primary: #E9676C;
    --secondary: #F9CDCE;
    /*------ Fonts ------*/
    --font: 'Poppins', sans-serif;;
    --headline1: 400 38px/57px var(--font);
    --headline2: 400 32px/48px var(--font);
    --headline3: 400 28px/42px var(--font);
    --headline4: 400 26px/39px var(--font);
    --headline5: 400 24px/36px var(--font);
    --headline6: 400 20px/30px var(--font);
    
    --body: 200 16px/24px var(--font);
    --button: 400 18px/23px var(--font);
    --menu: 400 16px/20.8px var(--font);
    
    --letter-spacing: 0.2em;
}

body{
    margin: 0;
    background-color: var(--withe);
    font: var(--body);
}

figure{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

h1{
    font: var(--headline1);
}

h2{
    font: var(--headline2);
}

h3{
    font: var(--headline3);
}

h4{
    font: var(--headline4);
}

h5{
    font: var(--headline5);
}

.btn{
    font: var(--button);
    height: 28px;
    border-radius: 5px;
}

.btn-primary{
    background: #F9CDCE;
}

a, .btn-link{
    text-decoration: none;
    color: var(--brown);
}

a:hover{
    color: var(--primary);
}

@media only screen and (min-width: 540px){
    main{
        padding-top: 45px;
    }
}

@media only screen and (min-width: 1024px){
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 45px;
    }
}